<p id="notice"><%= notice %></p>

<p>
  <strong>Nroalumno:</strong>
  <%= @alumno.nroalumno %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @alumno.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Emailuap:</strong>
  <%= @alumno.emailuap %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @alumno.sexo %>
</p>

<p>
  <strong>Vidaestudiantil:</strong>
  <%= @alumno.vidaestudiantil %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @alumno.fechanacimiento %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @alumno.carrera %>
</p>

<p>
  <strong>Cohorte:</strong>
  <%= @alumno.cohorte %>
</p>

<p>
  <strong>Añolectivo:</strong>
  <%= @alumno.añolectivo %>
</p>

<p>
  <strong>Matriculado:</strong>
  <%= @alumno.matriculado %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
